h1 {
    color: rebeccapurple;
    text-align: center;

}

h2 {
    color: green;
}

p {
   color: blue; 
}

ul {
    font-style: italic;
}

li {
    text-decoration: underline;
}

#education {
    color: aquamarine;
}